@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css");

@import "_vars";

// element
body, :root {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}

body {
  line-height: $baseline;
  color: #0F2540;
}

a[href] {
  color: #113285;
  text-decoration: none;
}

// layout
#container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $medium-breakpoint) {
    & {
      width: 80%;
    }
  }

  @media (min-width: $large-breakpoint) {
    & {
      width: 95%;
    }
  }
}

#title {
  margin: 0;
  font-weight: normal;
}

#blog-description {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

#content {
  margin-top: $baseline * 2 * 1rem;

  @media (max-width: $medium-breakpoint) {
    pre {
      font-size: 0.7rem;
    }
  }

  p, ul, ol, dl, table, pre, blockquote, iframe {
    margin-top: $baseline * 1rem;
    margin-bottom: $baseline * 1rem;
  }

  blockquote {
    margin-right: 0;
    margin-left: 0;
    border-left: solid 5px #ddd;
    padding-left: $golden-ratio * 1rem;
  }

  li {
    & > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.entry {
  &:not(:first-child) {
    margin-top: $baseline * 4 * 1rem;
  }

  @media (min-width: $large-breakpoint) {
    & {
      position: relative;
      padding-left: $supplement-width;
    }
  }
}

.entry-header {
  @media (min-width: $large-breakpoint) {
    & {
      position: absolute;
      top: 0;
      left: 0;
      width: $supplement-width;
    }
  }
}

.entry-date {
  font-size: 2rem;
  line-height: 1;

  @media (min-width: $medium-breakpoint) {
    & {
      width: 40%;
      float: left;
    }
  }
}

.entry-title {
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: $medium-breakpoint) {
    & {
      width: 60%;
      float: left;
      text-align: right;
    }
  }
}

.entry-header-menu {
  @media (min-width: $medium-breakpoint) {
    & {
      clear: left;
    }
  }
}

.entry-content {
  a[href] {
    text-decoration: underline;
  }

  .hatena-asin-detail a[href] {
    text-decoration: none;
  }
}

.entry-footer {
  & > * {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
  }

  @media (min-width: $large-breakpoint) {
    & {
      position: absolute;
      bottom: 0;
      left: 0;
      width: $supplement-width;
    }
  }

  .user-name-nickname,
  .user-name-paren {
    display: none;
  }
}

.pager {
  text-align: right;
}

// sidebar
#box2 {
  margin-top: $baseline * 4rem;
}

.hatena-module {
  margin-top: $baseline * 2rem;
}

#footer {
  margin-top: $baseline * 4rem;
  margin-bottom: $baseline * 2rem;
  text-align: center;
}
